<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAX1YcGN5trxtvUGMxv7rU9RkQSnoOHEZE</string>
	<key>GCM_SENDER_ID</key>
	<string>1046431253458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qiuli.frontend</string>
	<key>PROJECT_ID</key>
	<string>disaster-helpline-1855f</string>
	<key>STORAGE_BUCKET</key>
	<string>disaster-helpline-1855f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046431253458:ios:44ae673976808ada40fe0b</string>
</dict>
</plist>